<!DOCTYPE html>
<html>
<head>
    <title> Đặt lại mật khẩu </title>
    <meta charset="utf-8" />
</head>
<body>
    Bạn vừa gửi yêu cầu đặt lại mật khẩu tài khoản: {{UserEmail}} <br />
    Mật khẩu sẽ được mặc định: 123456 <br />
    Nhấn vào link để xác nhận {{callback}}
</body>
</html>

