@using ShipOnline.Resources;
@using ShipOnline.Models;


@{
    //var currentUser = HttpContext.Current.Session["CmnEntityModel"] as CmnEntityModel;
    //var authorityList = currentUser.AuthorityList as List<string>;
}

<ul class="dropdown-menu">
    <b class="caret"></b>
    <li><a href='@Url.Action("SliderList", "ManageSlider")'><i class="fa fa-angle-right pull-left"></i>Danh sách Banner & Quảng cáo</a></li>

    <li><a href='@Url.Action("SliderEdit", "ManageSlider")'><i class="fa fa-angle-right pull-left"></i>Thêm mới Banner</a></li>

</ul>
