@using ShipOnline.Resources;
@using ShipOnline.Models;

@{
    //var currentUser = HttpContext.Current.Session["CmnEntityModel"] as CmnEntityModel;
    //var authorityList = currentUser.AuthorityList as List<string>;
}

<ul class="dropdown-menu">
    <b class="caret"></b>

    <li><a href='@Url.Action("TownList", "AdminManageTown")'><i class="fa fa-angle-right pull-left"></i>Danh sách xã, phường</a></li>

    <li><a href='@Url.Action("TownEdit", "AdminManageTown")'><i class="fa fa-angle-right pull-left"></i>Đăng kí xã, phường</a></li>
</ul>
